---
import Test from '../components/Test.js';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>	
		<Test/>
	</main>
</body>
</html>
